body {
  margin: 0;
}

body h2 {
  font-family: "Shrikhand", cursive;
}

body h3 {
  font-family: "Roboto", sans-serif;
}

body p {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav img {
  margin: 20px 0;
}

nav img:hover {
  cursor: pointer;
}

header {
  background-color: lightgrey;
}

header .locationselector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .locationselector i {
  margin-right: 10px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  padding: 30px 0 50px;
}

.explore button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  color: white;
  border-width: 0;
  border-radius: 25px;
  padding: 0 20px;
}

.howitworks {
  margin-left: 10px;
}

.howitworks ol li {
  background-color: whitesmoke;
  width: 90%;
  height: 60px;
  margin: 20px;
}

.howitworks ol li .li-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howitworks ol li .li-details i {
  margin: 0 25px;
}

.restaurants {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.restaurants .restaurant {
  background-color: white;
  width: 92%;
  height: 350px;
  margin: 20px 0;
  border-radius: 20px;
  overflow: hidden;
}

.restaurants .restaurant-thumbnail {
  width: 100%;
  height: 70%;
}

.restaurants .restaurant-details {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurants .restaurant-details-text {
  width: 80%;
}

.restaurants .restaurant-details i {
  width: 20%;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants .restaurant:hover {
  cursor: pointer;
}

footer {
  background-color: #292929;
  color: white;
  padding: 20px;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=main.css.map */