
footer {
    background-color: rgb(41, 41, 41);
  
    .container {
      color: white;
      padding: 15px;
      margin: 0 auto;
      width: 80%;
      max-width: 1500px;
  
      img {
        margin: 20px 0;
        filter: invert(1);
      }
  
      ul {
        list-style: none;
  
        li {
          margin: 15px 0;
  
          a {
            color: white;
            text-decoration: none;
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }