header {
  background-color: lightgrey;
  margin: 0;
  .locationselector {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    i {
      margin-right: 10px;
    }
  }
  img {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}
