button {
    @include element-shadow;
    border-width: 0;
    border-radius: 25px;
    font-size: large;
    background: linear-gradient($secondary-colour 0%, $primary-colour 100%);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      @include element-shadow-dark;
      opacity: 90%;
    }
  }