main {
  .menu {
    background-color: whitesmoke;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      font-size: 24px;
    }
    .course {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        align-self: flex-start;
      }
      .item {
        display: flex;
        align-items: center;
        margin: 20px 0;
        background-color: white;
        width: 95%;
        height: 100px;
        cursor: pointer;
        border-radius: 25px;
        overflow: hidden;
        .text {
          margin-left: 20px;
          width: 70%;
        }
        .price {
          width: 10%;
        }
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20%;
          height: 100%;
          font-size: 30px;
          transform-origin: 100% 100%;
          transform: scaleX(0);
          transition: transform 500ms;
          color: white;
        }
        &:hover .icon {
          transform: scaleX(1);
          background-color: $tertiary-colour;
        }
      }
    }
  }
  .order-button {
    margin: 20px 30%;
    padding: 0 50px;
    width: 40%;
  }
}
