main {
  .menu {
    background-color: whitesmoke;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      font-size: 30px;
    }
    .course {
      .item {
          display: flex;
        margin: 20px auto;
        background-color: white;
        width: 95%;
        .text {
            margin-left: 20px;
            width: 70%;
        }
        .price {
            width: 20%;
        }
        i {
            width: 10%;
          display: none;
          position: absolute;
        }
        &:hover i {
          display: flex;
          align-items: center;
          right: 5%;
        }
      }
    }
  }
}
