main {
  .menu {
    background-color: whitesmoke;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      font-size: 30px;
    }
    .course {
      .item {
        margin: auto;
        background-color: white;
        width: 95%;
      }
    }
  }
}
