$primary-colour: #9356DC;
$secondary-colour: #FF79DA;
$tertiary-colour: #99E2D0;

$primary-colour-light: lighten($primary-colour, 30%)

$element-shadow: box-shadow: 2px 3px 14px -3px rgba(0,0,0,0.44);